body {
    font-family: sans-serif;
}

header {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: underline;
    color: #1a7aff;
}

header a {
    color: #031c4e;
    text-decoration: none;
}

h1 {
    font-size: 46px;
    font-weight: 600;
    color: white;
}

h2 {
    font-size: 42px;
    font-weight: 600;
    color: #031c4e;
}

p {
    font-size: 17px;
}

/* UTILITIES */

.go_clearfix{
    content: "";
    display: table;
    clear: both;
}


.disp-block {
    display: block;
}

.list-inline {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.text-gray {
    color: #5c6a88;
}

.text-darkblue {
    color: #031c4e;
}

.blue {
    color: #006aff;
}

.bg-gray {
    background-color: #f3f5f9;
}

.bg-white {
    background-color: #fff;
}

.bg-gradient {
    background: linear-gradient(180deg, #0048c5, #001e9a);
}

.button.bg-blue {
    background-color: #579aff;
    color: white;
    font-weight: bold;
}

.button.bg-white {
    color: gray;
    border: 1px solid gray;
}

.fw-bold {
    font-weight: bold;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav img {
    width: 140px;
}

.nav ul {
    margin-top: 5px;
}

.nav ul li a.arrow:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-right: 10px;
    vertical-align: bottom;
    font-weight: 900;
}


.hamburger {
    float: right;
    padding: 1px;
    width: 30px;
    /* margin-right: 20px; */
    /* height: 30px; */
    /* background-color: red; */
}

.hamburger .ham-line {
    width: 100%;
    height: 3px;
    background-color: #3a8aff;
    margin: 5px 0;
    border-radius:5px;
}

.button {
    border: 1px solid currentColor;
    padding: 5px 10px;
    border-radius: 5px;
}

/* HERO */

.hero {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url("../img/bg-banner-home.jpg");
    background-position: center;
}

.hero-text p {
    color: rgba(255, 255, 255, .8);
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero-signup {
    background-color: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.hero-signup input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
}

.hero-signup span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-signup span.button.google {
    position: relative;
}

.hero-signup span.button.google img {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.hero-signup h2,
.hero-signup input,
.hero-signup span {
    margin-bottom: 20px;
}

/* BRAND */
.brand {
    padding-top: 30px;
    padding-bottom: 30px;
}

.brand h4 {
    color: gray;
}


.brand ul li.list-inline {
    margin-right: 0;
}

.brand ul li a img {
    width: 140px;
    height: 120px;
}

/* DEPLOY */
.deploy {
    padding-top: 40px;
}

.deploy h2,
.deploy h3{
    color: #031c4e;
    margin-bottom: 15px;
}

.deploy p {
    font-weight: 400;
    font-size: 18px;
}

.deploy-bottom {
    margin-top: 20px;
}


.deploy-bottom ul {
    list-style: none;
    border-left: 2px solid lightgray;
    padding-left: 10px;
}

.deploy-bottom ul li{
    color: gray;
    margin-bottom: 15px;
    /* padding-left: 15px; */
    font-size: 20px;
}

.deploy-bottom .cards .card{
    margin-bottom: 35px;
}


.deploy-bottom .cards .card h3 {
    margin-top: 10px;
}

/* SLIDE SECTION */
.slide-section {
    padding-top: 40px;
    padding-bottom: 30px;
}

.slide-section .slide {
    position: relative;
    max-width: 70%;
    margin: 50px auto;
}

.slide-section .slide .arrow {
    /* float: left; */
    width: 10%;
    height: 100%;
}

.slide-section .slide .content {
    /* float: left; */
    margin: auto;
    width: 80%;
    height: 100%;
}

.slide-section  .slide img {
    max-width: 100%;
    margin-bottom: 15px;
}

.slide-section .slide .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.slide-section .slide .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}


/* .slide-section  .slide .row i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.slide-section  .slide .scorrimento {
    margin-top: 30px;
}

/* SECTION FEATURES */

.features {
    padding-top: 40px;
    padding-bottom: 30px;
}

.features h2 {
    margin-bottom: 40px;
}

.features .card{
    margin-bottom: 35px;
}

/* section countries */

.countries {
    padding-top: 40px;
    padding-bottom: 30px;
}

.countries h2 {
    color: white;
}

.countries .tabella-countries {
    margin-bottom: 40px;
}

.countries .riga {
    line-height: 35px;
    border-bottom: 1px solid white;
} 

.countries .c-abbr {
    display: inline-block;
    width: 15%;
    color: white;
    font-weight: bold;
}
.countries .country {
    display: inline-block;
    width: 55%;
    color: lightgray;
}
.countries .test-speed {
    display: inline-block;
    width: 27%;
    text-align: right;
}

.countries .test-speed a {
    color: #00d5d2;
    text-decoration: none;
}


/* ROCKERBOX */


.rockerbox {
    padding-top: 40px;
    padding-bottom: 30px;
}

.rockerbox .slide {
    position: relative;
    max-width: 70%;
    margin: 50px auto;
}

.rockerbox .slide .card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rockerbox .slide a {
    padding-top: 20px;
}

.rockerbox .slide p {
    font-size: 24px;
}

.rockerbox .slide img {
    max-width: 100%;
    margin-bottom: 15px;
}

.rockerbox .slide .row i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rockerbox .slide .scorrimento {
    margin-top: 30px;
}

/* GET STARTED */

.get-started {
    padding-top: 10px;
    padding-bottom: 30px;
}

.get-started h2 {
    color: white;
}

.get-started .button {
    text-decoration: none;
    color: #006aff;
    padding: 10px 20px;
    font-size: 20px;
}

.get-started * {
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: #031c4e;
    padding-top: 30px;
}

footer .social div {
    margin-bottom: 5px;
}

footer .icons a{
    font-size: 30px;
    text-decoration: none;
    color: gray;
    font-size: 30px;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    line-height: 30px;
}

footer ul li {
    list-style: none;
}

footer ul li:first-child {
    font-size: 2rem;
    color: white;
}



/* RESPONSIVE */

/* schermo da 768px in su */
@media screen and (min-width: 768px) {
    .brand ul li a img {
        width: 100%;
        height: auto;
    }

    /* .slide-section .slide::before {
        font-family: "Font Awesome 5 Free";
        content: "\f053";
        display: inline-block;
        
    } */
}


@media screen and (min-width: 992px) {
    h1 {
        font-size: 55px;
    }
}
