body {
    font-family: sans-serif;
}

header {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #1a7aff;
    transition: color 0.2s;
}

a:hover {
    color: #00ce78;
    text-decoration: none;
}

header a {
    color: #031c4e;
}

h1 {
    font-size: 37px;
    font-weight: 600;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    color: #031c4e;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

button:active {
    filter: brightness(93%);
}


/* UTILITIES */

.disp-block {
    display: block;
}

.list-inline {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.text-gray {
    color: #5c6a88;
}

.text-darkblue {
    color: #031c4e;
}

.blue {
    color: #006aff;
}

.bg-gray {
    background-color: #f3f5f9;
}

.bg-white {
    background-color: #fff;
}

.bg-gradient {
    background: linear-gradient(180deg, #0048c5, #001e9a);
}

.button {
    border: 1px solid currentColor;
    padding: 5px 10px;
    border-radius: 5px;
}

.button.bg-blue {
    background-color: #579aff;
    color: white;
    font-weight: bold;
}

.button.bg-white {
    color: gray;
    border: 1px solid gray;
}

.fw-bold {
    font-weight: bold;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* NAV */

.nav img {
    width: 140px;
}

.nav ul {
    margin-top: 5px;
}

.nav ul li a.arrow:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-right: 10px;
    vertical-align: bottom;
    font-weight: 900;
}


.hamburger {
    float: right;
    padding: 1px;
    width: 30px;
}

.hamburger .ham-line {
    width: 100%;
    height: 3px;
    background-color: #3a8aff;
    margin: 5px 0;
    border-radius:5px;
}

.nav button {
    background-color: #fff;
}

/* HERO */

.hero {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url("../img/bg-banner-home.jpg");
    background-position: center;
}

.hero-text p {
    color: rgba(255, 255, 255, .8);
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero-signup {
    background-color: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.hero-signup a {
    text-decoration: underline;
}

.hero-signup input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
}

.hero-signup button {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-signup button.button.google {
    position: relative;
    font-weight: bold;
    border: transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

.hero-signup button.button.google img {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.hero-signup h2,
.hero-signup input,
.hero-signup button {
    margin-bottom: 20px;
}

/* BRAND */
.brand {
    padding-top: 30px;
    padding-bottom: 30px;
}

.brand h4 {
    color: gray;
}

.brand ul {
    padding-left: 0;
}

.brand ul li.list-inline {
    margin-right: 0;
    width: calc(100% / 2);
}

.brand ul li a img {
    width: 80%;
    max-width: 210px;
    height: auto;
}

/* DEPLOY */
.deploy {
    padding-top: 40px;
}

.deploy h3 {
    font-size: 20px;
    font-weight: bold;
}

.deploy h2,
.deploy h3{
    color: #031c4e;
    margin-bottom: 15px;
}

.deploy p {
    font-weight: 400;
    font-size: 23px;
}

.deploy-bottom p {
    font-size: 18px;
}

.deploy-bottom {
    margin-top: 20px;
}


.deploy-bottom ul {
    list-style: none;
    border-left: 2px solid lightgray;
    padding-left: 10px;
}

.deploy-bottom ul li a{
    line-height: 45px;
    color: gray;
    /* padding-left: 15px; */
    font-size: 20px;
}

.deploy-bottom .cards .card{
    margin-bottom: 35px;
}


.deploy-bottom .cards .card h3 {
    margin-top: 10px;
}

/* SLIDE SECTION */
.slide-section {
    padding-top: 40px;
    padding-bottom: 30px;
}

.slide-section .slide {
    position: relative;
    max-width: 100%;
    margin: 110px auto;
}

.slide-section .slide .content {
    margin: auto;
    width: 80%;
    height: 100%;
}

.slide-section  .slide img {
    max-width: 100%;
    margin-bottom: 15px;
}

.slide-section .slide .arrowL {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 35px;
    color: gray;
}

.slide-section .slide .arrowR {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 35px;
}

.slide-section  .slide .scorrimento {
    margin-top: 30px;
}

/* SECTION FEATURES */

.features {
    padding-top: 40px;
    padding-bottom: 30px;
}

.features h2 {
    margin-bottom: 40px;
}

.features p {
    font-size: 18px;
}

.features .card{
    margin-bottom: 35px;
}

/* section countries */

.countries {
    padding-top: 40px;
    padding-bottom: 30px;
}

.countries h2 {
    color: white;
}

.countries .tabella-countries {
    margin-bottom: 40px;
}

.countries .riga {
    line-height: 35px;
} 

.countries .riga:not(:last-child) {
    border-bottom: 1px solid white;
} 

.countries .c-abbr {
    display: inline-block;
    width: 15%;
    color: white;
    font-weight: bold;
}
.countries .country {
    display: inline-block;
    width: 55%;
    color: lightgray;
}
.countries .test-speed {
    display: inline-block;
    width: 27%;
    text-align: right;
}

.countries .test-speed a {
    color: #00d5d2;
}

/* ROCKERBOX */

.rockerbox {
    padding-top: 40px;
    padding-bottom: 30px;
}

.rockerbox .slide {
    position: relative;
    max-width: 100%;
    margin: 50px auto;
}

.rockerbox .slide .arrowL {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 35px;
    color: gray;
}

.rockerbox .slide .arrowR {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 35px;
}

.rockerbox .slide .content {
    margin: auto;
    width: 80%;
    height: 100%;
}

.rockerbox .slide .card {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rockerbox .slide a {
    padding-top: 20px;
}

.rockerbox .slide p {
    font-size: 24px;
}

.rockerbox .slide img {
    max-width: 100%;
    margin-bottom: 15px;
}


.rockerbox .slide .scorrimento {
    margin-top: 30px;
}

/* GET STARTED */

.get-started {
    padding-top: 30px;
    padding-bottom: 10px;
}

.get-started h2 {
    color: white;
}

.get-started .button {
    color: #006aff;
    padding: 10px 20px;
    font-size: 20px;
}

.get-started * {
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: #031c4e;
    padding-top: 30px;
}

footer .social div {
    margin-bottom: 5px;
}

footer .icons a {
    font-size: 30px;
    font-size: 30px;
    text-decoration: none;
}

footer .icons a i {
    color: gray;
    transition: color 0.2s;
}

/* Brand color social icons in hover */

footer .icons a .fa-twitter-square:hover {
    color: #1c9cea;
}

footer .icons a .fa-facebook-square:hover {
    color: #395693;
}

footer .icons a .fa-instagram:hover {
    color: #bd299e;
}

footer .icons a .fa-youtube:hover {
    color: #ec0100;
}

footer .icons a .fa-linkedin:hover {
    color: #0e72a3;
}




footer ul {
    padding-left: 0;
}

footer ul li a {
    color: #a6adbd;
    font-weight: bold;
    line-height: 30px;
}

footer ul li {
    list-style: none;
}

footer ul li:first-child {
    font-size: 2rem;
    color: white;
}

/* SHARK HELP */
footer .shark-help {
    position: fixed;   
    left: 25px;
    bottom: 40px;
    filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.3));
}

footer .shark-help .shark {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #006aff;
    border-radius: 5px;
}

footer .shark-help .shark img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

footer .shark-help .shark .counter {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: red;
    border: 1px solid white;
    border-radius: 50%;
}

footer .shark-help .help-mex {
    position: relative;
    top: 15px;
    width: 330px;
    max-width: 80vw;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

footer .shark-help .help-mex .rot-square {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg) translate(-4%, -56%);
    width: 15px;
    height: 15px;
    background-color: white;
}


/* RESPONSIVE */

/* schermo da 768px in su */
@media screen and (min-width: 768px) {

    h2 {
        font-size: 28px;
    }

    .brand ul li a img {
        width: 100%;
        height: auto;
    }
    
    .brand ul li.list-inline {
        width: calc(100% / 6 - 15px);
    }

    .brand ul li.list-inline:not(:last-child) {
        margin-right: 15px;
    }


    .rockerbox .slide {
        max-width: 70%;
    }

    .slide-section .slide {
        max-width: 70%;
    }
}


@media screen and (min-width: 992px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    .slide-section .slide {
        margin: 50px auto;
        margin-bottom: 10px;
    }

    footer .shark-help {
        position: fixed; 
        left: auto;  
        right: 25px;
        bottom: 40px;
    }

    footer .shark-help .shark {
        left: calc(100% - 60px);
    }

    footer .shark-help .help-mex .rot-square {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        transform: rotate(45deg) translate(-100%, 50%);
    }
}
